<?xml version="1.0"?>

<model>
  <name>ASV</name>
  <version>1.0</version>
  <sdf version="1.6">ASV.sdf</sdf>

  <author>
    <name>Kalvik Jakkala</name>
    <email>itskalvik@gmail.com</email>
  </author>

  <maintainer email="itskalvik@gmail.com">Kalvik Jakkala</maintainer>

  <description>
    A copy of the Blue Robotics BlueRov2 model
  </description>
</model>
